server:
    port: 9010
spring:
    application:
        name: tensquare-friend
    datasource:
        url: jdbc:mysql://192.168.229.128:3306/tensquare_friend?characterEncoding=utf-8&useSSL=false
        username: root
        password: root
        driver-class-name: com.mysql.jdbc.Driver
    jpa:
        database: mysql
        show-sql: true
    redis:
        host: 192.168.229.128
jwt:
    config:
        key: jonas
eureka:
    client:
        service-url:
            defaultZone: http://localhost:6868/eureka
    instance:
        prefer-ip-address: true