server:
    port: 9001
spring:
    application:
        name: tensquare-base  # 服务名
    datasource:
        driver-class-name: com.mysql.jdbc.Driver
        url: jdbc:mysql://192.168.229.128:3306/tensquare_base?characterEncoding=utf-8&useSSL=false
        username: root
        password: root
    jpa:
        database: MySQL
        show-sql: true
    redis:
        host: 192.168.229.128
eureka:
    client:
        service-url:
            defaultZone: http://localhost:6868/eureka
    instance:
        prefer-ip-address: true